@model ForgeTwin.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledOn)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecords)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionLogs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionLogs)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrders)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
