@model IEnumerable<ForgeTwin.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstalledOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionLogs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Type)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.InstalledOn)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaintenanceRecords)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductionLogs)
            </td>
            <td>
                @Html.DisplayFor(model => item.WorkOrders)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
